In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# File to Load
fileOne = "Resources/books_clean.csv"
# Read the modified GoodReads csv and store into Pandas DataFrame
fileOneDF = pd.read_csv(fileOne)
# Hint: Build a DataFrame. You may need to use utf-8 encoding (encoding="utf-8")

In [3]:
# Calculate the number of unique authors in the DataFrame
fileOneDF["Authors"].value_counts()
# Calculate the earliest and latest year a book was published
x = fileOneDF['Publication Year'].min()
y = fileOneDF['Publication Year'].max()
print(f" the earliest release is {x}, latest is {y}")
# Calculate the total reviews column that contains the sum of reviews for each row

# Hint: use the pandas' sum(axis='columns') to get the sum across the columns

 the earliest release is -1750.0, latest is 2017.0

In [4]:
fileOneDF['Total Reviews'] = fileOneDF.sum(axis = 1, skipna = True) 
print(fileOneDF['Total Reviews'])

0       4944373.0
1       4802062.0
2       3918829.0
3       3342856.0
4       2775670.0
          ...
9995      20866.0
9996      14942.0
9997      12710.0
9998      14005.0
9999      11698.0
Name: Total Reviews, Length: 10000, dtype: float64

In [5]:
# Place all of the data found into a summary DataFrame
fileOneDF
# Display the summary data frame

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews,Total Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317,4944373.0
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543,4802062.0
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439,3918829.0
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267,3342856.0
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718,2775670.0
...,...,...,...,...,...,...,...,...,...,...
9995,441019455,2010.0,Bayou Moon,Ilona Andrews,105,575,3538,7860,6778,20866.0
9996,067973371X,1990.0,Means of Ascent,Robert A. Caro,303,551,1737,3389,6972,14942.0
9997,039330762X,1977.0,The Mauritius Command,Patrick O'Brian,11,111,1191,4240,5180,12710.0
9998,61711527,2011.0,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,275,1002,3765,4577,2375,14005.0
9999,375700455,1998.0,The First World War,John Keegan,117,345,2031,4138,3069,11698.0